<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TRASHIFIER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-img src="assets/graphic-pixelclouded.png" alt="graphic-pixelclouded">
  </ion-img>

  <ion-text>
    <h1>Welcome to Trashifier</h1>
  </ion-text>

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>What is Trashifier?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Trashifier is an app created to help people recognize their garbage type and be more educated
        about sorting their trash.
      </div>
    </ion-accordion>

    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>How do I use Trashifier?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Simply click the <i>Start Classifying</i> button, take an image of a trash that you didn't know its type. Even
        if you know what type it is, maybe you'll learn a things or two that you didn't know about your Trash type 😉️.
        <br><br>
        Note that while Trashifier can classify <u>most</u> of common municipal solid waste, but 'most' means not
        everything. It can also guess what type of plastic your trash is if it happens to be a plastic 😯️🙀️.
      </div>
    </ion-accordion>

    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>How does Trashifier work?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Trashifier work by using a machine learning model specifically designed to classify a trash, hence the name
        <i>Trashifier</i>. <br><br>
        The app simply sends the image to a server in which the classifier is deployed. The server then
        tries to predict and sent back the result. Note that <u>Trashifier does not collect any of the image sent</u>,
        for more
        info check Trashifier's privacy policy.
      </div>
    </ion-accordion>

  </ion-accordion-group>

  <ion-button class="ion-padding" expand="block" shape="round" (click)="buttonUploadGarbage() ">
    Start classifying Trash
  </ion-button>


</ion-content>