<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-back-button slot="start" color="dark" pos></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <h1><b>SORTING AND RECYCLING GUIDE</b></h1>

    <p>One effective approach to tackle this issue is through household waste sorting, which follows the waste
      hierarchy. </p>

    <div>
      <ion-img src="assets/waste_hierarchy.png"> </ion-img>
      <p><small>source: United Nations Environmental Program (2013). Guidelines for National Waste Management Strategies Moving from Challenges to Opportunities</small></p> </div>

    <p>
      The waste hierarchy emphasizes prioritizing waste prevention, reduction, reuse, recycling, and only resorting to
      disposal as a last resort. In this article, we will explore the importance of household waste sorting based on the
      waste hierarchy and provide practical tips for implementing it effectively.</p>
    <ol>
      <li>
        <p>The first step in the waste hierarchy is <b>waste prevention</b>. Households can minimize waste generation by
          adopting simple practices such as avoiding overconsumption, buying products with less packaging, and opting
          for durable and long-lasting items. By reducing unnecessary waste at its source, households can significantly
          contribute to sustainable waste management.</p>
      </li>
      <li>
        <p>
          If waste prevention is not feasible, the next step is <b>waste reduction</b>. Households can adopt strategies
          such as composting food scraps, which not only reduces waste sent to landfills but also provides nutrient-rich
          compost for gardening. Additionally, reducing paper and water usage, as well as reusing items like shopping
          bags, bottles, and containers, helps minimize waste production.
        </p>
      </li>
      <li>
        <p>
          <b>Reusing </b>items instead of disposing of them is an excellent way to extend their lifespan and reduce
          waste. Households can engage in practices like donating clothes, furniture, and electronics to local charities
          or organizing garage sales to give unwanted items a second life. Creative upcycling projects can also turn old
          or broken items into useful or decorative objects.
        </p>
      </li>
      <li>
        <p>
          <b>Recycling </b>plays a vital role in waste management. Households should segregate recyclable materials such
          as paper, cardboard, plastic, glass, and metal from general waste. Educating oneself about local recycling
          guidelines and participating in recycling programs and collection schemes are essential for effective
          recycling. By ensuring that recyclable materials are properly sorted, households contribute to the circular
          economy and conserve valuable resources.
        </p>
      </li>
      <li>
        <p>
          <b>Disposal </b>should be the last resort when all other options have been exhausted. Non-recyclable and
          non-compostable waste should be carefully disposed of according to local regulations. Households must follow
          proper waste disposal methods, such as using designated waste bins or taking waste to authorized disposal
          facilities. Reducing the volume of waste sent to landfills helps mitigate environmental pollution and
          preserves limited landfill space.
        </p>
      </li>
    </ol>

  </ion-text>
</ion-content>