<ion-header [translucent]="true">
  <ion-toolbar color="light">
      <ion-back-button slot="start" color="dark" pos></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <h1><b>RECYCLING CODE</b></h1>
    <p>
      Recycling codes, are symbols or numbers used to classify different types of materials for recycling purposes. <u>While they are commonly associated with plastics, they can extend beyond plastics to include other recyclable materials such as paper, glass, and metals.</u> These codes help identify and sort materials to facilitate the recycling process.
      <br><br>
      <u>Note that the presence on an item of a recycling code, a chasing arrows logo, or a resin code, is not an automatic indicator that a material is recyclable</u>; it is an explanation of what the item is made of. 
    </p>
    <p>
      The first seventh of the recycling codes are called <u>Resin Identification Code</u>. The resin identification codes for plastics consist of a number from 1 to 7, surrounded by the recycling symbol. 
    </p>
    <p>
      Each number represents a specific type of plastic resin, such as PET (polyethylene terephthalate), HDPE (high-density polyethylene), PVC (polyvinyl chloride), LDPE (low-density polyethylene), PP (polypropylene), PS (polystyrene), and others. These codes help recycling facilities sort and process plastic waste more efficiently.
    </p>

    
  </ion-text>
  <ion-img src="assets/reccode.jpg">

  </ion-img>

</ion-content>