<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>INFO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-item button [routerLink]="['/guide']">
      <ion-label>Sorting & Recycling Guide</ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item button [routerLink]="['/recyclecode']">
      <ion-label>Recycling Codes</ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item button [routerLink]="['/privacy-policy']">
      <ion-label>Privacy Policy</ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item button [routerLink]="['/about']">
      <ion-label>About The App</ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer class="ion-margin">
  <h1>CONTACT</h1>
  <span>Kenneth Manuel Lieyanto <br>s160419041@student.ubaya.ac.id </span>
</ion-footer>