<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>DASHBOARD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-item button>
      <ion-label>Info 1</ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item button>
      <ion-label>Info 2</ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item button>
      <ion-label>Info 3</ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

    <ion-item button>
      <ion-label>About</ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer class="ion-margin">
  <h1>CONTACT</h1>
  <span>Kenneth Manuel Lieyanto <br>s160419041@student.ubaya.ac.id </span>
</ion-footer>