<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <!-- <ion-tab-button tab="tabDashboard">
      <ion-icon icon="assets/icon/dashboard.svg"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button> -->
    <ion-tab-button tab="tabClassify">
      <ion-icon icon="assets/icon/photo-gallery-icon.svg"></ion-icon>
      <ion-label>Classify</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabRecyclableWaste">
      <ion-icon icon="assets/icon/recycle-bin.svg"></ion-icon>
      <ion-label>Recyclable</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="tabGlossary">
      <ion-icon icon="assets/icon/glossary.svg"></ion-icon>
      <ion-label>Glossary</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabInfo">
      <ion-icon icon="assets/icon/info-circle-icon.svg"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>