<ion-header [translucent]="true">
  <ion-toolbar color="light">
      <ion-back-button slot="start" color="dark" pos></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <h1>ABOUT THE APP</h1>
    <p>Trashifier is designed with the hope to promote sorting garbage especially at the community level. The app currently have limitation of only classifying 1 object thus trying to identify more than 1 object at the same time produce inaccurate result. The other limitation is that the app only identify a limited category which is the one that find on the recyclable page.</p>
    <p>Features</p>
    <ul>
      <li>
        <p>Trashifier can identify trash by image and shows a useful information such as how that type of garbage should be recycled generally or maybe shouldn't be recycled at all. </p>
      </li>
      <li>
        <p>Trashifier can identify what type of plastic and shows some information about that type of plastic. It may not be useful for you but it does give some information that hopefully humbles the people to make the world a better place. <b><u>When capturing an images for plastic, it is recomended to use a dark background in order to produce a more accurate result.</u></b></p>
      </li>
      <li>
        <p>It also have some information about regulation and institution although it is currently only limited to Indonesian (MY HOMIES).</p>
      </li>
    </ul>
    <br>
    
    <p>Check the project on GitHub</p>

    
  </ion-text>
  <button size="large" (click)="openExternalUrl()"><ion-icon slot="icon-only" name="logo-github"></ion-icon> </button>
</ion-content>
