<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>GLOSARSARY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-segment value="all" [(ngModel)]="selectSegment">
    <ion-segment-button value="Regulasi">
      <ion-label>Regulasi</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Institusi">
      <ion-label>Institusi</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="selectSegment === 'Regulasi'">
    <ion-card *ngFor="let item of regulationData">
      <ion-card-header>
        <ion-card-title>{{ item.num }}</ion-card-title>
        <ion-card-subtitle>{{ item.type }}</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        {{ item.description }}
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-list *ngIf="selectSegment === 'Institusi'">
    <ion-card *ngFor="let item of institutionData">
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
        <ion-card-subtitle>{{ item.level }}</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        {{ item.description }}
      </ion-card-content>
    </ion-card>
  </ion-list>
  
</ion-content>