<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">recyclable-detail</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-img [src]="'assets/waste-category-image/' + recyclable.imageFileName"
      [alt]="recyclable.categoryName"></ion-img>
    <ion-text>
      <h1><b>{{recyclable.categoryName}}</b></h1>
    </ion-text>
    <ion-text>
      <p class="desc">{{recyclable.description}}</p>
    </ion-text>

    <div class="wasteSample">
      <h2><b>Sample waste with this type:</b></h2>

      <div class="rec-s-list">
        <div class="rec-s-item" *ngFor="let item of recyclable.wasteSample">
          <ion-avatar>
            <img alt="trash-sample-image"
              [src]="'assets/waste-sample-image/'+ recyclable.id + '/' + item.sampleImageName" />
          </ion-avatar>
          <ion-text>{{ item.sampleName }}</ion-text>
        </div>
      </div>
    </div>

    <div class="dangercallout" *ngIf="recyclable.toxicLevel === 3">
      <div>
        <ion-icon name="information-circle" color="danger"></ion-icon>
      </div>
      <div class="dangercallout-content callout-content">
        <h3><b>{{recyclable.calloutTitle}}</b></h3>
        <p>{{recyclable.calloutMessage}}</p>
      </div>
    </div>

    <div class="warningcallout" *ngIf="recyclable.toxicLevel === 2">
      <div>
        <ion-icon name="information-circle" color="warning"></ion-icon>
      </div>
      <div class="warningcallout-content callout-content">
        <h3><b>{{recyclable.calloutTitle}}</b></h3>
        <p>{{recyclable.calloutMessage}}</p>
      </div>
    </div>

    <div class="recRecom">
      <h2><b>How this type of waste is recycled:</b></h2>
      <p>{{recyclable.recyclingRecommendations}}</p>
    </div>

    <div class="disRecom">
      <h2><b>How this type of waste is disposed:</b></h2>
      <p>{{recyclable.disposingRecommendations}}</p>
    </div>

    <div *ngIf="recyclable.id === 'plastic'" class="plastic_more_about">

      <h2>We also guess your plastic type is: <br><small>*Click to learn more</small> </h2>

      <ion-chip (click)="openModal()">
        <ion-avatar>
          <img [alt]="" [src]="'/assets/icon/icons8-recycle-50.png'" />
        </ion-avatar>
        <ion-label>{{ plastic.scientific_name }}</ion-label>
      </ion-chip>

    </div>

  </div>

</ion-content>